# Will remove this by order given the stages of the datathon
train
api
test
utils
groups

# Avoid commiting the target csv until the end
test/target.csv

# default ignored files
.env
.idea
service-account-file.json